@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background-color: transparent;
}

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@background, 0.6);
  border: 1px solid rgba(89, 89, 89, 0.667);
  border-radius: 6px;
  padding: 0 14px;
  margin-top: 2px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

/* tooltip { */
/*   padding: 2px; */
/* } */

tooltip {
  background-color: alpha(@background, 0.8);
  border: 1px solid alpha(@foreground, 0.15);
  border-radius: 6px;
  padding: 6px 10px;
}

menu {
  background-color: alpha(@background, 0.8);
  border: 1px solid alpha(@foreground, 0.15);
  border-radius: 6px;
}

tooltip label {
  color: @foreground;
  background-color: transparent;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-github-notify {
  min-width: 12px;
  margin-right: 17px;
}

#custom-github-notify.active {
  color: #5fa55f;
}
